/*html{font-size:100%;}*/
/*@media(min-width:60em){html{font-size: 14px}}*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,400,700);


body {
    background-color: black;
    margin: auto;
    font-size: 2.0vh;
    color: white;
    font-family: "Century Gothic", Lato, AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
}

.gallery_image {
    /*alignment: center;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
}
