body {
    background-color: black;
    margin: auto;
}

#new_img_btn_p {
    text-align: center;
}

input {
    font-family: 'Century Gothic', serif;
    color: white;
    border: none;
    position: center;
    padding: 15px 32px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    background-color: dimgrey;
}

#image {
    font-family: 'Century Gothic', serif;
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    min-width: 900px;
    min-height: 900px;

}

#expression_tree {
    text-align: center;
}

#expr_title {
    color: grey;
    font-family: 'Century Gothic', serif;
    font-size: 13px;
}

#expr_extra{
    color: grey;
    font-family: 'Century Gothic', serif;
    font-size: 10px;
}

.content {
    text-align: left;
    display: inline-block;
}


pre {
    display: inline-block;
    color: grey;
    font-size: 12px;
    text-align: left;
    font-family: 'Consolas',Consolas ,monospace;

}

#source_code{
    text-align: center;
    color: grey;
     font-family: 'Century Gothic', serif;
    font-size: 10px;
}