<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/image.css')}}">
    <title>image</title>
</head>
<body>
<p>&nbsp</p>
<form id="new_img_btn_p" action="/higher">
    <input id="new_image_btn"
           type="submit"
           value="Show Me Something New">
</form>
<p>
    <img id="image" src="{{image_endpoint}}">
</p>
<p>&nbsp</p>
<p>&nbsp</p>
<p>&nbsp</p>
<p>&nbsp</p>
<p>&nbsp</p>
<p>&nbsp</p>
<p>&nbsp</p>
<form id="large_image_file_f" action={{large_image_endpoint}}>
    <input id="large_image_file"
           type="submit"
           value="Get 4K Version (takes ~1 min)">
</form>
<p>&nbsp</p>
<div id="expression_tree">
    <p id='expr_title'>Image Tree</p>
    <p id='expr_extra'>The built -up of the image is shown below.
        The process is evaluated from right to left.
        The image is generated use a nested operators (the 'tree').
        Operators are can be simple; for example 'ReturnX' just returns the pixels x -coordinates as values
        for red, green and blue. More complex operators, for example 'Mix' or 'Sine', take the output of one or more
        other operators and operate on those.
    </p>
    <!--    <div id="ascii_content">-->
    <!--        <pre>{{expression_tree}}</pre>-->
    <!--    </div>-->
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <div id="tree_image_content">
        <img id="tree_image" src="{{tree_image_endpoint}}">
    </div>
</div>
<p>&nbsp</p>
<p>&nbsp</p>
<p>&nbsp</p>
<div id="source_code">
    <a href="https://github.com/lblonk/simple-random-art">
        source code
    </a>
    <p>&nbsp</p>
</div>
</body>
</html>
